	<div class="page-navigation-container">
		<p class="page-navigation-container-text" ng-click="category = 'who'">Who We Are</p>
		<p class="page-navigation-container-text" ng-click="category = 'why'">Why Clients Choose Us</p>
		<p class="page-navigation-container-text" ng-click="category = 'mistakes'">Five Fatal Mistakes</p>
		<p class="page-navigation-container-text" ng-click="category = 'bio'">Eduardo Beruff Bio</p>
		<p class="page-navigation-container-text contact-link"><a href="#/contact">Contact</a></p>
	</div>

	<div class="page-content-container">
		<div id="about_us_who" ng-show="category == 'default'">
			<h2>About Beruff & Company</h2>
			<p>Beruff & Company is a management consulting firm helping companies and investors in the healthcare sector set and achieve their goals. We view our clients as partners and always put their interests first.   We measure our success by your success in terms of increased growth, improved performance, or value creation.</p>
		</div>


		<div id="about_us_who" ng-show="category == 'who'">
			<h2>Who We Are</h2>

			<p>Beruff & Company is a management consulting firm committed to helping companies and investors in the healthcare sector set and achieve their goals. We provide broad-based advisory services and implementation to revitalize revenue growth, optimize business and operating models, and build value.</p>

			<p>Our aim is to be your trusted partner.  We are driven by our commitment to your success and guided by our unique entrepreneurial roots, real-world expertise, and insight.</p>

			<p>Whether you just want to stay in the game or change the world, Beruff & Company will help you create more value for your people, your customers, and your capital providers.  For, at the end of day, they are the three groups you must serve to realize your company’s potential.</p>

			<p>Specifically, Beruff & Company can be your trusted partner to help you address the <strong>9 common concerns</strong>that business leaders and investors face:</p>

			<ol style="background-color: rgba(210,210,210, 0.3)">

			<li>Revenue growth has been slowing; you are concerned that it could flat-line. </li>
			<li>You need new sources of revenue – you have identified possibly exciting opportunities, but need help to both evaluate them and determine the best way to capture them.</li>
			<li>You want to grow and to create differentiation, but you are frustrated by the manifold conflicting interests of the participants in the healthcare space.</li>
			<li>Your revenue is not recurring, which leads to unreliable cash flow, creating uncertainty for your investment strategy.</li>
			<li>Your customer retention has dropped due to competitive inroads.</li>
			<li>Competitors have begun to say that they can match or exceed your value proposition.</li>
			<li>You recognize that your business or operating model cannot scale as rapidly as you would like; consequently, you need a new model and, possibly, different people to execute it.</li>
			<li>You are concerned about your people’s commitment to the Mission; their productivity and energy are dropping.  How will you re-energize your organization? </li>
			<li>You fear the loss of some key leaders.</li>

			</ol>
		</div>

		<div id="about_us_what" ng-show="category == 'mistakes'">
			<h2>Five Fatal Mistakes</h2>
			<p>Beruff & Company will help you avoid mistakes with regard to market assessment, positioning and value proposition, business model configuration, and capital deployment – mistakes that cost companies and investors millions of dollars.</P>

			<h2>Mistake #1: Falling in love with your technology</h2>

			<p>You fall in love with your technology, and extrapolate that customers will love it as much as you do.  Thus, you imagine that there is a sizable market for it.  The reality is that it is a product no one wants.</p>

			<h2>Mistake #2:  Wanting to satisfy all market segments</h2>

			<p>You want to satisfy all market segments.  Thus, you lack focus, which leads to huge confusion among your staff and your customers, lengthens and complicates product development, and ultimately leads to inferior returns on invested capital.</p>

			<h2>Mistake #3:  Equating a need with a business opportunity</h2>

			<p>You equate a marketplace need with a business opportunity.  However, in health care, especially, a need may not necessarily be an opportunity because of conflicting interests and perverse incentives that drive many participants.</p>

			<h2>Mistake #4:  Becoming enamored of complexity</h2>

			<p>You become enamored of complexity, because, among other things, it makes you feel smart.  However, complexity complicates communications and alignment.  It compromises execution and stifles creativity.  It creates confusion and leads to a questioning of the true focus.  Ultimately, there is an inverse relationship between complexity and satisfaction, value, and quality of execution.</p>

			<h2>Mistake #5:  Success leading to complacency or arrogance</h2>

			<p>Once you achieve marketplace success, you become complacent or arrogant.   As a result, you go backward by:
				<ol>
				<li> Abusing your position through higher prices or declining service; </li>
				<li> Expanding or diversifying indiscriminately; or, </li>
				<li> Making value-destructive acquisitions. </li>
				</ol>
			</p>

		</div>

		<div id="about_us_why" ng-show="category == 'why'">
					<h2>Why Clients Choose Us</h2>
					<p>Clients choose Beruff & Company because they trust us to put their interests first.  They know Beruff & Company will provide unique value based on our:</p>
			<ul>
				<li> <strong>Deep healthcare industry knowledge:</strong>We have a unique and comprehensive understanding of the healthcare ecosystem, including:  payers; providers; patients; pharmaceutical and biotechnology companies; PBMs; technology; regulatory and compliance requirements; healthcare delivery and its payment.</li> 
				<li> <strong>Commitment to deliver</strong>unique value-added insight leading to tangible results and quantifiable value in the areas that count – people; growth; scalability; cash flow and investment.</li> 
				<li> <strong>Disease-specific understanding:</strong>In oncology and other complex, specialty medical conditions.</li> 
				<li> <strong>Expertise and services:</strong>Unlike other firms, we have lived our clients’ problems and successfully addressed them.</li>
			</ul>

		</div>


		<div id="about_us_bio" ng-show="category == 'bio'">
			<h2>Eduardo Beruff Bio</h2>
			<p>Eduardo Beruff is the founding CEO of Beruff & Company, a healthcare-focused management consultancy.  He is an entrepreneurial leader, business strategist, and advisor with a broad and deep understanding of, and expertise in, the healthcare sector.</p>

			<p>Through Beruff & Company, he is committed to sharing the strategies he developed and deployed during his three-decade career to help entrepreneurs, business leaders, and investors realize their companies’ potential.  His expertise spans business creation and growth, business and financial strategy formulation, optimizing new product development and positioning, investment evaluation, organizational design and productivity, and enhancing operational performance through improved scalability, margins, and cash flow.</p>

			<p>Prior to creating Beruff & Company, Mr. Beruff was the founding CEO of eviti, Inc.   Under his leadership, eviti became the Nation’s leading oncology decision-support platform company, connecting providers and payers at the moment of clinical need to facilitate quality care and its payment.</p>

			<p>While building eviti, he was a Lecturer and Mentor in Entrepreneurial Leadership and Value Creation at the Wharton Executive MBA program from 2005 through 2009.</p>

			<p>He began his career at SmithKline Beckman (now GlaxoSmithKline), where he held a variety of senior-level positions in finance, marketing, general management, and corporate planning.  He grew the company’s US-based vaccines business from a virtual start-up to a thriving $400 million Division.  While overseas, Mr. Beruff guided SmithKline companies to positions of market leadership and higher profitability.  As corporate strategist, he helped to develop business and IT strategy across the enterprise.</p>

			<p>Mr. Beruff is a graduate of The Wharton School (MBA) and Georgetown University (magna cum laude).</p>
		</div>
	</div>

