	<div class="page-navigation-container">
		<p class="page-navigation-container-text" ng-click="category = 'who'">Who We Are</p>
		<p class="page-navigation-container-text" ng-click="category = 'why'">Why Clients Choose Us</p>
		<p class="page-navigation-container-text" ng-click="category = 'mistakes'">Five Fatal Mistakes</p>
		<p class="page-navigation-container-text" ng-click="category = 'bio'">Eduardo Beruff Biography</p>
		<p class="page-navigation-container-text contact-link"><a href="#/contact">Contact</a></p>
	</div>

	<div class="page-content-container">
		<div id="about_us_who" ng-show="category == 'default'">
			<h2>Beruff & Company</h2>
			<p>Beruff & Company is a management consulting firm that partners with companies and investors in the health care and biotechnology industries to establish and achieve your goals.  Our clients’ interests are paramount and our success is measured by our ability to deliver improved performance, transformative growth and overall value creation.</p>
		</div>


		<div id="about_us_who" ng-show="category == 'who'">
			<h2>Who We Are</h2>


			<p>Beruff & Company is a management consulting firm committed to partnering with companies and investors in the health care and biotechnology industries to achieve their goals. We provide broad-based advisory and implementation services designed to revitalize revenue growth, optimize business and operating models and build enterprise value.</p>

			<p>Our aim is to be your trusted partner.  We are driven by our commitment to your success and guided by our unique entrepreneurial roots, real-world expertise and practical, tailored insight.</p>

			<p>Whether you want to stay in the game or change the world, Beruff & Company will help you create more value for your team, your customers, and your shareholders.</p>

			<p>Specifically, Beruff & Company can be your trusted partner to help you address the 9 common concerns that business leaders and investors face:</p>

			<ol style="background-color: rgba(210,210,210, 0.3)">
				<li>Achieving or revitalizing revenue growth.</li>
				<li>Identifying, evaluating and capturing new sources of revenue.</li>
				<li>Improving growth and creating differentiation when faced with manifold conflicting interests in your space.</li>
				<li>Realizing reliable recurring revenue.</li>
				<li>Retaining customers in light of competitive inroads.</li>
				<li>Effectively communicating your value proposition.</li>
				<li>Identifying processes and resources needed to ensure your ability to scale as rapidly as you would like.</li>
				<li>Re-energizing your team and ensuring your organization’s commitment to your mission.</li>
				<li>Incentivizing and retaining key members of your team.</li>
			</ol>
		</div>

		<div id="about_us_what" ng-show="category == 'mistakes'">
			<p>Five Fatal Mistakes</p>
			<p>Beruff & Company helps companies and investors in health care avoid multi-million dollar mistakes with regard to market assessment, positioning and value proposition, business model configuration, and capital deployment.</p>

			<p><strong>Mistake #1:</strong> Falling in love with your technology</p>

			<p>In health care, numerous technology deployments have failed, because they interfere with customer and user workflows.  These failed deployments cost millions of dollars and damage company reputations.</p>

			<p><strong>Mistake #2:</strong> Wanting to satisfy many market segments</p>

			<p>A major temptation in health care is the desire to serve multiple market segments with the same service or solution.  However, many solutions in health care do not adapt easily beyond the primary target segment.  Often, these diversification efforts lead to confusion among company staff and customers, lengthen and complicate product development, and ultimately lead to inferior returns on invested capital.</p>

			<p><strong>Mistake #3:</strong> Equating a need with a business opportunity</p>

			<p>Many companies have lost millions of dollars equating a health care need with a commercial opportunity because of they do not account for conflicting interests and perverse incentives that drive many market participants.</p>

			<p><strong>Mistake #4:</strong> Becoming enamored of complexity</p>

			<p>Often, company growth leads to an inward focus driven by more complex organizational demands and relationships.  Customers are no longer the true priority.  Consequently, they perceive a reduction in the company’s value proposition, leading to an opening for more focused and nimble competitors.</p>

			<p><strong>Mistake #5:</strong> Success leading to complacency</p>

			<p>Marketplace success can lead to complacency.  As a result, companies engage in these costly practices:
				<ol>
				<li> Improper pricing or declining service;</li>
				<li> Indiscriminant expansion or diversification; or,</li>
				<li> Value-destructive acquisitions. </li>
				</ol>
			</p>

		</div>

		<div id="about_us_why" ng-show="category == 'why'">
					<h2>Why Clients Choose Us</h2>
					<p>Clients choose Beruff & Company because they value our health care expertise and trust us to put their interests first.  They know Beruff & Company will provide unique value based on our:</p>
			<ul>
				<li> <strong>Deep health care industry knowledge:</strong> We have a unique and comprehensive understanding of the health care ecosystem, including payers, providers, patients, pharmaceutical and biotechnology companies, PBMs, technology, regulatory and compliance requirements, health care delivery and its payment.</li> 
				<li> <strong>Commitment to deliver:</strong> We provide unique value-added insight leading to tangible results and quantifiable value in the areas that count – people, growth, scalability, cash flow and investment.</li> 
				<li> <strong>Multi-disciplinary approach:</strong> We can quickly add resources from a variety of functional specialties – clinical, technical, commercial, and financial – to address problems and realize opportunities.</li> 
				<li> <strong>Disease-specific understanding:</strong> We have first-hand knowledge of oncology and other complex, specialty medical conditions.</li>
				<li> <strong>Expertise and services:</strong> Unlike other firms, we have lived our clients’ problems and successfully addressed them. <li>
			</ul>

		</div>


		<div id="about_us_bio" ng-show="category == 'bio'">
			<h2>Eduardo Beruff Biography</h2>

			<p>Eduardo Beruff is the Founder and CEO of Beruff & Company, a health care-focused management consultancy.  He is an entrepreneurial leader, business strategist, and advisor with a broad and deep understanding of, and expertise in, the health care sector.</p>

			<p>Through Beruff & Company, he is committed to sharing the strategies he developed and deployed during his three-decade career to help entrepreneurs, business leaders, and investors realize their companies’ potential.  His expertise spans business creation and growth, business and financial strategy formulation, optimizing new product development and positioning, investment evaluation, organizational design and productivity, and enhancing operational performance through improved scalability, margins and cash flow.</p>

			<p>Prior to creating Beruff & Company, Mr. Beruff was a co-Founder and CEO of eviti, Inc.   Under his leadership, eviti became the United States’ leading oncology decision-support platform company, connecting providers and payers at the critical moments of clinical need to facilitate quality care and its payment.</p>

			<p>While building eviti, he was a lecturer and mentor in Entrepreneurial Leadership and Value Creation at the Wharton Executive MBA program.</p>

			<p>Mr. Beruff began his career at SmithKline Beckman (now GlaxoSmithKline), where he held a variety of senior-level positions in finance, marketing, general management, and corporate planning.  He grew the company’s US-based vaccines business from a virtual start-up to a thriving $400 million division.  While overseas, he guided SmithKline companies to positions of market leadership and higher profitability.  As corporate strategist, he helped to develop business and IT strategy across the enterprise.</p>

			<p>Mr. Beruff is a graduate of The Wharton School (MBA) and Georgetown University (magna cum laude).</p>

		</div>
	</div>

