<div class="page-navigation-container">
	<p class="page-navigation-container-text" ng-click="category = 'companies'">Companies</p>
	<p class="page-navigation-container-text" ng-click="category = 'Investors'">Investors</p>
</div>

<div class="page-content-container">
	<div ng-show="category == 'companies'">
		<h2>Companies</h2>
		<p>Beruff & Company generates tangible benefits based on actionable insights to owners, CEOs, and business leaders of companies in the following segments:</p>

		<ul>
			<li>Healthcare services and health IT</li>
			<li>Healthcare payers – health plans; health insurers; large self-insured employers </li>
			<li>Pharmacy benefit management companies</li>
			<li>Pharmaceutical and biotechnology companies with oncology divisions</li>
			<li>Managed care and health utilization companies</li>
			<li>Clinical research organizations</li>
			<li>Physician networks and practice management companies</li>
			<li>Specialty medical societies</li>
		</ul>

	</div>

	<div ng-show="category == 'Investors'">
		<h2>Health-Care Focused Investors</h2>
		<p>Beruff & Company delivers value to investors by providing expert evaluation of potential investments and strategic guidance to improve the performance of existing portfolio companies.</p>

		<p>Investors obtain attractive returns when their portfolio companies deliver sticky and predictable revenue growth, possess scalability, and generate high operating leverage.  Beruff & Company has the operating insight to help ensure that portfolio companies meet expected return targets.
		</p>
	</div>

</div>

