<div class="page-navigation-container">
	<p class="page-navigation-container-text" ng-click="category = 'consult'">Management<wbr> Consulting <br> (click for details)</p>
	<p class="page-navigation-container-text" ng-click="category = 'implement'">Implementation <br> (click for details)</p>
</div>

<div class="page-content-container">
	<div  ng-show="category == 'consult'">
		<h2>Management Consulting</h2>
		<p>Beruff & Company partners with companies and investors to provide consulting services in eight critical areas of performance.  Our goal is to help create lasting value for our clients, which leads to a sustainable competitive advantage in the marketplace for talent, customers and capital.  Our strategies are based on actual experience as business leaders and are structured to be practicable for our clients.   We act with speed, reducing time to innovation and performance improvement.  Our consulting services encompass the following areas:</p>
		<ul>
			<li><strong>Strategic Guidance:</strong>  Assisting with strategy formulation to create defensible competitive advantages and positions of leadership</li>
			<li><strong>Marketing Strategy:</strong>  Optimizing product positioning, branding, focus, value proposition, and differentiation</li>
			<li><strong>New Product Development:</strong> Evaluating the new product pipeline to set priorities</li>
			<li><strong>Business Development:</strong>  Structuring, and negotiating, commercial and technology agreements</li>
			<li><strong>Organization:</strong>  Helping to build more effective leadership teams energized by a meaningful mission, aspirational goals and higher standards</li>
			<li><strong>Operating Leverage:</strong>  Enhancing operational performance through improved scalability, margins, and cash flow</li>
			<li><strong>Financial Strategy:</strong>  Optimizing cash flow and capital structure</li>
			<li><strong>Investments:</strong>  Evaluating investment opportunities and providing strategic transaction support</li>
		</ul>

	</div>

	<div  ng-show="category == 'implement'">
		<h2>Implementation</h2>
		<p>Beruff & Company is ready to help you to implement strategic recommendations as a trusted partner bringing a fresh perspective, focused energy, and rapid implementation. We identify and evaluate optimal means of implementation, including the creation of a separate entity jointly owned by the client and Beruff & Company to deploy the recommendation and realize the business potential.</p>

		<p>Based on the client’s preferences, Beruff & Company will consider implementation assignments in which the risk is shared with the client.  These jointly owned entities could be re-purchased by clients at an agreed-upon formula price or sold to strategic buyers to harvest value.  Areas that are typically considered for this type of implementation include the commercialization of new products or services and the deployment of new operating models.</p>
	</div>

</div>

